body{
    background-color: darkmagenta;
    text-align: center;
    color: white;
    font-size: 2rem;
}

h1{
    color: gold;
}

#message-el{
    font-style: italic;
}

button{
    color: darkmagenta;
    background-color: gold;
    font-weight: bold;
    border: none;
    width: 250px;
    font-size: 1.5rem;
    margin: 3px;
    border-radius: 5px;
    padding: 5px 0;
}